<form method="post" action="{{ path('app_toy_delete', {'id': toy.id}) }}" onsubmit="return confirm('Вы действительо хотите удалить эту игрушку?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ toy.id) }}">
    <button class="btn">Удалить из базы</button>
</form>
