{% extends 'base.html.twig' %}

{% block title %}Edit Toy{% endblock %}

{% block body %}
    <h1>Edit Toy</h1>

    {{ include('toy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_toy_index') }}">back to list</a>

    {{ include('toy/_delete_form.html.twig') }}
{% endblock %}
