{% extends 'base.html.twig' %}

{% block title %}Новая игрушка{% endblock %}

{% block body %}
    <h1>Добавление новой игрушки</h1>

    {{ include('toy/_form.html.twig') }}

    <a href="{{ path('app_toy_index') }}">Вернуться</a>
{% endblock %}
