{% extends 'base.html.twig' %}

{% block title %}Новый ребёнок{% endblock %}

{% block body %}
    <h1>Добавление ребёнка в базу данных</h1>

    {{ include('child/_form.html.twig') }}

    <a href="{{ path('app_child_index') }}">Вернуться</a>
{% endblock %}
