<form method="post" action="{{ path('app_use_restriction_delete', {'id': use_restriction.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить это ограничение?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ use_restriction.id) }}">
    <button class="btn">Удалить из базы</button>
</form>
