{% extends 'base.html.twig' %}

{% block title %}Изменение ограничения{% endblock %}

{% block body %}
    <h1>Изменение ограничения к использованию</h1>

    {{ include('use_restriction/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_use_restriction_index') }}">Вернуться</a>

    {{ include('use_restriction/_delete_form.html.twig') }}
{% endblock %}
