{% extends 'base.html.twig' %}

{% block title %}Новое ограничение{% endblock %}

{% block body %}
    <h1>Добавление ограничения</h1>

    {{ include('use_restriction/_form.html.twig') }}

    <a href="{{ path('app_use_restriction_index') }}">Вернуться</a>
{% endblock %}
