<form method="post" action="{{ path('app_toy_category_delete', {'id': toy_category.id}) }}" onsubmit="return confirm('Вы действительо хотите удалить эту категорию?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ toy_category.id) }}">
    <button class="btn">Удалить из базы</button>
</form>
