{% extends 'base.html.twig' %}

{% block title %}Изменение вида игрушки{% endblock %}

{% block body %}
    <h1>Изменение вида игрушки</h1>

    {{ include('toy_category/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_toy_category_index') }}">Вернуться</a>

    {{ include('toy_category/_delete_form.html.twig') }}
{% endblock %}
