{% extends 'base.html.twig' %}

{% block title %}New ToyCategory{% endblock %}

{% block body %}
    <h1>Create new ToyCategory</h1>

    {{ include('toy_category/_form.html.twig') }}

    <a href="{{ path('app_toy_category_index') }}">back to list</a>
{% endblock %}
