<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Main{% endblock %}</title>
    <link rel="icon"
          href="https://cdn-icons.flaticon.com/png/512/2382/premium/2382182.png?token=exp=1656054318~hmac=4ae882432a45cad133bc72df70cd859d">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<a href="/">Главная</a>
<a href="/toy">Игрушки</a>
<a href="/toy/category">Виды игрушек</a>
<a href="/use/restriction">Ограничения</a>
{% if app.request.get('_route') != 'app_login' and app.request.get('_route') != 'app_register' %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/child">Дети</a>
        <br>
        <a href="/logout">Выйти</a><br>
    {% else %}
        <br>
        <a href="/login">Войти</a>
        <a href="/register">Зарегистрироваться</a><br>
    {% endif %}
{% endif %}

{% block body %}{% endblock %}
</body>
</html>